body
{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}

.img
{
    /*background-image: url(images/illustration-hero.svg)*/
    position:absolute;
    top: 0%;

    width:300px;
    left:0px;


}

h1 
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 550px;
    top:0% ;
    left: 25%;
    color: hsl(223, 47%, 23%);
    background-color:hsl(225, 100%, 94%); 
    width: 430px;
    border-radius: 20px;
    overflow: hidden;
}

.title
{
 position:absolute ;
top: 40%;
}

p
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 15px;
    top: 47% ;
    text-align: center;
    color:hsl(224, 23%, 55%); 
    
}

.button 
{
    
    position: absolute;
    top: 83%;
    width: 240px;
    text-align: center;
    font-size:  15px; 
    font-weight: bold;
    border-radius: 5px;
    color:hsl(225, 100%, 94%); 
    background-color:  hsl(245, 75%, 52%);
    padding: 6px
    ;
}
.button:hover{
    background-color:hsl(224, 23%, 55%) ;
}

#music
{
    background-image: url(images/icon-music.svg);
    position: absolute;
    top: 19%;
    left: 5%;
}

h2 
{
    position: absolute;
    top: 4%;
    left: 30%;
    color: hsl(223, 47%, 23%);
    font-size: 15px;
    font-weight: bold;
}

span
{
    font-size: 15px;
    position: absolute;
    top: 58%;
    left: 30%;
    color:hsl(224, 23%, 55%); 
}

a
{
    position: absolute;
    top: 35%;
    left: 75%;
    color: hsl(245, 75%, 52%);
    font-size: 15px;
}
a:hover{
    color:hsl(224, 23%, 55%);
}

.try 
{
    background-color:white; 
    position: absolute;
    top: 64%;
    width:250px;
    height:60px;
    border-radius: 5px; 
}

h3
{
    position: absolute;
    top: 98%;
    left: 39%;
    text-align: center;
    font-size:  15px; 
    font-weight: bold;
    color: hsl(224, 23%, 55%);
    border-radius: 10px;
}

.attribution
{
    position: absolute;
    top: 115%;
    left: 38%;
    text-align: center;
    font-size:  15px; 
    font-weight: bold;
    color: hsl(224, 23%, 55%);
}